a{
    color: rgb(202, 0, 101);
    font-weight:bold;
}

.badbutton{
    background-color:white;
    border: 2px solid black;
    padding: 10px;
    width: 30%;
    box-shadow: 5px 10px

}

.banner{
    text-align: center;
    height: 100vh;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;

}

blockquote{
    margin-left: 85%;
    height: 125px;
    width: 125px;
    background-color: #ffffff;
    opacity: 75%;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

body{
    font-family: Arial, Helvetica, sans-serif ;
    background-image: linear-gradient(30deg, #f9abe4,#f6bd63 , #84d8d8 );
    border: solid 10px black;
}

.description{
    justify-content:center;

}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

footer{
    background-color: black;
    color: white;
    padding:70px;
    margin-top:20px;

}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 40px;
    padding: 50px;
    /* align-items: center; */
}

h1{
    font-size:70px;
}

h2{
    font-size:x-large;
}

h3{
    text-align: right;
}

.image{
    max-width: 100%;
    height: auto;
    /* UNCOMMENT TO MAKE AN OVAL FRAME 
    object-fit: cover;
    border-radius: 50%; */
}

input{
    margin-left: 0px;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid black;
    position: relative;
}


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  .material-icons.pink { color:rgb(202, 0, 101) }

  /* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.sticky{
    align-self: start;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

.thickboi{
    margin-left: 0px;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 20px;
    height: 200px;
    width: 60%;
    overflow-wrap:break-word;
    border:none;
    border-bottom: 2px solid black;
}

.thought{
    font-style: italic;
}








